/* NavigationHistory */
.NavigationHistoryLinks {
	color: Black;
}
.NavigationHistoryLinks a:hover {
	text-decoration: underline;
    color: #F39128;
}
.NavigationHistoryLinks a, .NavigationHistoryLinks a:visited {
	text-decoration: underline;
    color: #5689C5;
}
.NavigationHistoryLinks a.Current, .NavigationHistoryLinks a.Current:hover, .NavigationHistoryLinks a.Current:visited {
	text-decoration: none;
	color: Black;
}
/* Navigation Links */
.NavigationLinks a, .NavigationLinks a:hover, .NavigationLinks a:visited {
	text-decoration: underline;
	margin: 0px 6px;
}
/* Button ActionContainer */
.ActionContainer .Item {
	padding: 0px 10px 0px 10px;
}
.ActionContainer .WrappedItem {
	padding: 4px 10px 4px 10px;
	float: left;
}
.Vertical .Item {
	padding: 4px 0px 4px 0px;
}
/* ParametrizedActionControl */
.ParametrizedActionControl .Label, .ParametrizedActionControl .Editor,
.ParametrizedActionControlWithImage .Label, .ParametrizedActionControlWithImage .Editor {
	vertical-align: middle;
	padding: 0px;
}
.ParametrizedActionControl .Editor,
.ParametrizedActionControlWithImage .Editor {
	padding-left: 1px;
}
.ParametrizedActionControl .Editor div.dxb {
	padding-top: 1px;
	padding-bottom: 2px;
}
.ParametrizedActionControlWithImage .Editor div.dxb {
	padding: 0px 8px 1px 9px;
}
.ParametrizedActionControl .dxeTextBox_xaf,
.ParametrizedActionControlWithImage .dxeTextBox_xaf 
{
	width: 130px;
}

/* LookupButton */
.xafLookupButton {
	margin-left: 1px;
}

/* Layout Group Header */
.GroupHeader 
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	width: 100%;
	height: 27px;
	margin: 20px 0px 10px 0px;
}
.GroupHeader td {
}
.GroupHeader td.Image {	
	border-bottom: #B6BDCC solid 1px;
}
.GroupHeader td.Label {
	width: 100%;
	color: black;
	font-weight: bold;
	padding: 0px 5px 0px 5px;
	border-bottom: #B6BDCC solid 1px;
}
.NextColumn .GroupHeader td.L div {
	width: 35px;
}
.GroupHeader td.R div {
	width: 5px;
	height: 27px;
}
/* Layout Group Content */
.Layout table.GroupContent {
	/*margin: 13px 0px 22px 0px;*/
	width: 100%;
}
.Layout td.GroupContent {
	vertical-align: top;
}
.Layout .Caption {
	/* width: 150px; */
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color: Black;
	vertical-align: top;
	padding: 2px 0px 2px 0px;
	white-space: nowrap;
}
.Layout .WebEditorCell {
	padding: 0px 0px 0px 0px;
}
.LayoutViewMode .WebEditorCell {
	padding: 2px 0px 0px 0px;
}
.Layout .WebEditorCell .ValueViewControlClass {
	color: #4f4f4f;
}
.Layout .WebEditorCell a, .Layout .WebEditorCell a:hover, .Layout .WebEditorCell a:visited{
	text-decoration: underline;
}
.Layout div.Item {
	padding: 2px 5px 2px 5px;
}
.Layout .NextColumn div.Item {
	padding: 2px 5px 2px 5px;
}
.Layout .LayoutTabs {
	margin: 10px 0px 0px 0px;
}
.Layout .LayoutTabContainer {
	margin: 0px !important;
}
.Layout .StaticText {
	color: #4f4f4f;
}
.StaticText {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
.Layout .haLeft 
{
	text-align: left !important;
}
.Layout .haRight 
{
	text-align: right !important;
}
.Layout .haCenter 
{
	text-align: center !important;
}

.Layout .vaTop
{
	vertical-align: top !important;
}
.Layout .vaCenter
{
	vertical-align: middle !important;
}
.Layout .vaBottom 
{
	vertical-align: bottom !important;
}
.LayoutTabContainer .Item
{
    padding: 5px !important;
}
/* Grid */
td.ActionCell 
{
	text-align: center;
	white-space: nowrap;
}
td.ActionCell *
{
	white-space: nowrap;
}
.xafGridColumnChooser
{
	text-align: right;
	padding: 3px;
}
.xafGridPageSizeChooserLabel
{
	padding: 3px;
	white-space: nowrap;
}
/* Chart */
.xafChartPanel label {
	font-size: 85%;
}
.xafChartPanel .dxeMemoEditArea_xaf label {
	font-size: 100%;
}
/* Standard Grid*/
.Grid
{
	width: 100%;
	background-color: White;
}
.GridList a
{
	color: Black;
	text-decoration: none;
}
.GridList a:hover
{
	color: black;
	text-decoration: underline;
}
.GridList 
{
	width: 100%;
	color: Black;
	text-align: left;
	font-weight: normal;
}
.EmptyGridList 
{
	font-weight: bold;
	font-size: 85%;
	color: #7F7F7F;
	text-align: center;
	padding: 4px;
}
.GridHeader 
{
	border: solid 1px #86BBEC;
}
.GridHeaderItem
{
	border: solid 1px #86BBEC;
	background-color: #C4DFF8;
	font-size: 85%;
	font-weight: normal;
	padding: 4px 7px 4px 7px;
}
.GridItem
	{
	padding: 3px 7px 3px 7px;
	border: solid 1px #C2C2C2;
	color: #1E72C2;
	font-size: 85%;
	font-family:Tahoma;
	_word-wrap: break-word;
	_word-break : break-word;
}
.ContextMenuItem a
{
	font-size: 85%;
}
.GridLastRow
{
}
.GridHoverRow td
{
	cursor: hand;
	cursor: pointer;
	background-color: #F7F7F7;
}
.GridPager 
{
	padding: 5px;
	color: Gray;
}
.GridPager A
{
	text-decoration: underline;
	color: #1E72C2;
}
.ContextMenuHeader
{
	border: solid 1px #86BBEC;
	background-color: #C4DFF8;
	width: 0;
}
.ContextMenuItem 
{
	width: 0;
	padding: 2px 5px 2px 5px;
	border: solid 1px #C2C2C2;
	text-align:center;
	vertical-align:middle;
	white-space: nowrap;
}
.ContextMenuItem *
{
	white-space: nowrap;
}
/* Error info */
.ErrorMessage {
	width: 100%;
	background-color: #FEE2C4;
	border: solid 1px #E3BFA5;
	vertical-align: middle;
}
.ErrorLabel {
	text-align: left;
	color: black;
}
/* Progress Control */
.ProgressHover 
{
	background-color: white;
	filter:alpha(opacity=50);
	opacity:0.5;
}
.Progress 
{
	border:none;
	background-color:transparent;
	vertical-align:middle;
	position:absolute;
}
.Progress td
{
	background-color:transparent;
}
/* Other */
.ActionLabel {
	font-size: 85%;
	color: Black;
}
.TextCell
{
	padding-left: 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
/* TreeList Node Template */
.XafTreeNode .ImageCell 
{
	width: 16px;
	vertical-align: top;
}
.XafTreeNode .TextCell 
{
	padding: 0px 5px;
	font-size: 90%;
}
/* FileDataEdit */
.XafFileDataAnchor
{
	white-space:nowrap;
	margin-right: 5px;
}
/* Navigation tabs template */
.TabLeftPart,
.TabLeftPartSelected,
.TabRightPart,
.TabRightPartSelected
{
    white-space: nowrap;
    padding: 2px;
}
/* NavigationBarActionContainer */
.xafNavigationBarActionContainer
{
    margin-bottom: 3px;
}
.SingleChoiceActionItemLabel
{
    padding-left: 9px;
    padding-right: 5px;
}
/* Round panel of VerticalToolsActionContainer */
.ToolsActionContainerPanel .dxrpContent
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.ToolsActionContainerPanel .dxmVerticalMenuItemWithImage_Aqua
{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
/* Controls customization */
.dxnbControl_Aqua {
	width: 100%;
}
.dxgvControl_Aqua {
	width: 100%;
}
.dxgvHeader_Aqua td {
    white-space:normal;
}
.dxtcControl_Aqua {
    width: 100% !important;
}