/* Common */
body {
    background-color: #BFDBFF;
    color: #1641A0;

    background-image: url('BackgroundRepeat.gif'); 
    background-position: top; 
    background-repeat: repeat-x;

    font-size: 80%;
	padding: 0px; 
	margin: 0px;
}
span, label, a { 
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 100%;
}
a {
    color: #5689C5; 
    text-decoration: underline;   
}
a:visited {
    color: #A1A1A1;
    text-decoration: underline;   
}
div.PageContent {
    background-image: url('Background.jpg'); 
    background-position: top right; 
    background-repeat: no-repeat;
    padding: 0px 5px 0px 5px;
}
/* Top */
table.Top td.Logo {
	padding: 10px 20px 10px 20px;
}
table.Top td.Security {
	padding: 10px 20px 0px 20px;
	text-align: right;
	vertical-align: top;
}
table.Top td.Security div.Security {
	display: inline;
	float: right;
}

/* Search panel */
table.Search {
	margin: 0px 0px 0px 0px;
}
table.Search td.Left {
	padding: 0px 20px 0px 0px;
}
table.Search td.Right {
	padding: 0px 0px 0px 20px;
}
/* Main table */
.Main td.Right, .Main td.Left {
	vertical-align: top;
}
.Main td.Right, .Main td.Left .dxrp .VContainer {
	padding: 0px;
}
.Main td.Left {
	vertical-align: top;
	padding: 0px 3px 0px 0px;
}
.VerticalTemplate .Main td.Left {
	width: 197px;
}
.HorizontalTemplate .Main td.Right {
	width: 100%;
}
.HorizontalTemplate .ToolsActionContainerPanel {
    width: 197px;
}
.ToolsActionContainerPanel .dxrpContent {
    width: 100% !important;
}
.Main td.Grip {
	vertical-align: middle;
	width: 14px;
}
/* Main round panel*/
.Empty {
	font-size: 0px;
}
table.MainContent tr.Header td.Header {
	padding: 3px 10px 10px 10px;
}
table.MainContent tr.Content td.Content {
	padding: 5px 10px 2px 10px;
}
table.MainContent tr.Content td.Content td.ViewImage,
table.MainContent tr.Content td.Content td.ViewCaption {
	vertical-align: top;
}
h1 {
	color: Black;
	font-size: 200%;
	font-family: Tahoma;
	font-weight: normal;
	margin: 0px 0px 11px 5px;
	padding: 0px;
}
/* TopToolBar */
.ToolBar {
	margin: 0px 0px 5px 0px;
}
/* Navigation Links*/
.Links {
	padding: 35px 40px 15px 40px !important;
	line-height: 24px;
}
/* Footer */
tr.Footer td.Right {
	padding: 20px 10px 30px 0px;
	
}
div.Footer {
	padding: 20px 10px 30px;
	
}
.FooterCopyright {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 85%;
	color: #788CA5;
}
/* Dialog */
body.Dialog {
	background-color: White !important;
}
div.DialogPageContent {
	margin: 0px;
	padding: 0px;
	background: url(DialogBackRepeat.gif) repeat-x center top white;
}
div.Header {
	width: 100%;
	height: 87px;
	margin: 0px;
	background: url(DialogBackImage.jpg) top right no-repeat;
	height: 87px;
}
div.Header table {
	margin: 0px 15px 0px 15px;
}
div.Header table td {
	padding: 24px 0px 0px 0px;
}
.DialogContent {
	background-color: White;
	height: 300px;
}
.DialogContent .ContentCell {
	vertical-align: top;
	padding: 20px 10px;
}
.Dialog .ViewImage img {
	margin: 0px 0px 15px 0px;
}
/* Logon */
.Logon {
	width: 500px;
	text-align: left;
}
.LogonContentCell {
}
.LogonContentCell .Layout .NextColumn div.Item {
	padding-left: 10px;
}
/* Error */
.Error {
	color: Black;
}
.ErrorDetails {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 90%;
}