<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Project->ASP.NET Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <!--<section name="FilterProvider" type="Xpand.ExpressApp.FilterDataStore.Core.FilterProviderConfiguration,Xpand.ExpressApp.FilterDataStore, Version=*, Culture=neutral, PublicKeyToken=*" />-->
    <sectionGroup name="devExpress">
      <section name="compression" requirePermission="false" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </sectionGroup>
  </configSections>
  <devExpress>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <themes enableThemesAssembly="true" theme="Office2010Blue" />
  </devExpress>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=*" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <!--<FilterProvider defaultProvider="SkinFilterProvider">
    <providers>
      <add name="UserFilterProvider" type="Xpand.ExpressApp.FilterDataStore.Providers.UserFilterProvider,Xpand.ExpressApp.FilterDataStore" />
      <add name="ContinentFilterProvider" type="FeatureCenter.Module.LowLevelFilterDataStore.ContinentFilter.ContinentFilterProvider,FeatureCenter.Module" />
    </providers>
  </FilterProvider>-->
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="to@example.com" fromAddress="from@example.com" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="ErrorReportEmail" value="" />
    <add key="ErrorReportEmailServer" value="" />
    <!--
    <add key="ErrorReportEmailSubject" value="{0:ExceptionMessage}"/>
    <add key="ErrorReportEmailFrom" value="null@nospam.com"/>
    <add key="ErrorReportEmailFromName" value="{0:ApplicationName} Error handling system"/>    
    -->
    <add key="SimpleErrorReportPage" value="" />
    <add key="RichErrorReportPage" value="Error.aspx" />
    <add key="EnableDiagnosticActions" value="False" />
    <!-- 
    Use the one of predefined values: None, ApplicationFolder. The default value is ApplicationFolder.
    <add key="TraceLogLocation" value="ApplicationFolder"/>
    -->
    <add key="DXEnableCallbackCompression" value="true" />
    <add key="DXEnableResourceCompression" value="true" />
    <add key="DXEnableResourceMerging" value="true" />
    <add key="DXEnableHtmlCompression" value="true" />
  </appSettings>
  <connectionStrings>
    <!--Standard sql authentication connectionstrings. These are well tested and work if you encounter any authentication errors consider googling about them. 
    <add name="ConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenter;User Id=username;Password=password;"
      providerName="" />
    <add name="EasyTestConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterEasyTest;User Id=username;Password=password;"
      providerName="" />
    <add name="ExceptionHandlingConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterExceptionHandling;User Id=username;Password=password;"
      providerName="" />
    <add name="FeatureCenterMultipleDataStoreConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterMultipleDataStore;User Id=username;Password=password;"
      providerName="" />
    <add name="WorldCreatorConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterWorldCreator;User Id=username;Password=password;"
      providerName="" />
    <add name="NorthWind" connectionString="XpoProvider=MSSqlServer;data source=servername;User Id=username;Password=password;;initial catalog=Northwind"
      providerName="" />
      -->
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=XpandFeatureCenter;Application Name=FeatureCenter" providerName="" />
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=XpandFeatureCenterEasyTest" providerName="" />
    <add name="ExceptionHandlingConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=XpandFeatureCenterExceptionHandling;Application Name=FeatureCenter" providerName="" />
    <add name="FeatureCenterMultipleDataStoreConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=XpandFeatureCenterMultipleDataStore;Application Name=FeatureCenterMultipleDataStore" providerName="" />
    <add name="WorldCreatorConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=XpandFeatureCenterWorldCreator;Application Name=FeatureCenterWorldCreator" providerName="" />
    <!--NorthWind connection string should be constructed using an XpoProvider-->
    <add name="NorthWind" connectionString="XpoProvider=MSSqlServer;data source=(local);integrated security=SSPI;initial catalog=Northwind" providerName="" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
      <add name="XPO" value="3" />
    -->
    </switches>
  </system.diagnostics>
  <system.webServer>
    <modules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </modules>
    <handlers>
      <add name="ImageResourceHttpHandler" verb="*" path="ImageResource.axd" type="DevExpress.ExpressApp.Web.ImageResourceHttpHandler, DevExpress.ExpressApp.Web.v13.1, Version=13.1.4.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="WebWindowTemplateHttpHandler" verb="*" path="*.aspx" type="DevExpress.ExpressApp.Web.WebWindowTemplateHttpHandler, DevExpress.ExpressApp.Web.v13.1, Version=13.1.4.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="ReportExportResource.axd_*" preCondition="integratedMode" verb="*" path="ReportExportResource.axd" type="DevExpress.ExpressApp.Reports.Web.ReportExportHttpHandler, DevExpress.ExpressApp.Reports.Web.v13.1, Version=13.1.4.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </handlers>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add verb="*" path="TestControls.axd" type="DevExpress.ExpressApp.Web.TestScripts.TestScriptsManager, DevExpress.ExpressApp.Web.v13.1, Version=13.1.4.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add verb="*" path="ImageResource.axd" type="DevExpress.ExpressApp.Web.ImageResourceHttpHandler, DevExpress.ExpressApp.Web.v13.1, Version=13.1.4.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add verb="*" path="*.aspx" type="DevExpress.ExpressApp.Web.WebWindowTemplateHttpHandler, DevExpress.ExpressApp.Web.v13.1, Version=13.1.4.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add verb="*" path="ReportExportResource.axd" type="DevExpress.ExpressApp.Reports.Web.ReportExportHttpHandler, DevExpress.ExpressApp.Reports.Web.v13.1, Version=13.1.4.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpHandlers>
    <httpModules>
      <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpModules>
    <!--
    Set compilation debug="true" to insert debugging
    symbols into the compiled page. Because this
    affects performance, set this value to true only
    during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.ExpressApp.Xpo.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Security.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Web.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Persistent.Base.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Objects.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Validation.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.ExpressApp.Images.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Xpo.v13.1.Web, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Xpo.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v13.1.Core, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Data.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v13.1.Core, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Docs.v13.1, Version=13.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <!--
    The <authentication> section enables configuration
    of the security authentication mode used by
    ASP.NET to identify an incoming user.
    -->
    <identity impersonate="true" />
    <authentication mode="Forms">
      <forms name="Login" loginUrl="Login.aspx" path="/" timeout="10" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!--
    The <customErrors> section enables configuration
    of what to do if/when an unhandled error occurs
    during the execution of a request. Specifically,
    it enables developers to configure html error pages
    to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- For applications with a security system -->
  <location path="TestControls.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="ImageResource.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="MoveFooter.js">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Images/Progress.gif">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Images/HeaderBkg.gif">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Images/ButtonBkg.gif">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Utils" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Utils.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.EmailTemplateEngine" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.EmailTemplateEngine.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Xpo" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Xpo.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Persistent.Base" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Persistent.Base.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Security" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Security.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Security.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Security.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Validation" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Validation.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Validation.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Validation.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Validation.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Validation.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Logic" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Logic.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Logic.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Logic.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Logic.Conditional" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Logic.Conditional.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.MemberLevelSecurity" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.MemberLevelSecurity.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.MemberLevelSecurity.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.MemberLevelSecurity.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.AdditionalViewControlsProvider" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.AdditionalViewControlsProvider.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.AdditionalViewControlsProvider.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.AdditionalViewControlsProvider.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.AdditionalViewControlsProvider.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.AdditionalViewControlsProvider.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ModelDifference" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ModelDifference.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ModelDifference.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ModelDifference.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ModelDifference.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ModelDifference.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.FilterDataStore" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.FilterDataStore.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.FilterDataStore.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.FilterDataStore.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.FilterDataStore.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.FilterDataStore.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ArtifactState" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ArtifactState.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ConditionalActionState" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ConditionalActionState.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ConditionalControllerState" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ConditionalControllerState.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ModelArtifactState" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ModelArtifactState.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WizardUI.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WizardUI.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ViewVariants" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ViewVariants.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.MasterDetail" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.MasterDetail.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.MasterDetail.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.MasterDetail.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.TreeListEditors" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.TreeListEditors.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.TreeListEditors.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.TreeListEditors.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.TreeListEditors.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.TreeListEditors.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ExceptionHandling" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ExceptionHandling.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ExceptionHandling.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ExceptionHandling.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ExceptionHandling.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ExceptionHandling.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WorldCreator" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WorldCreator.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WorldCreator.SqlDBMapper" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WorldCreator.SqlDBMapper.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WorldCreator.DBMapper" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WorldCreator.DBMapper.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WorldCreator.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WorldCreator.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WorldCreator.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WorldCreator.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.IO" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.IO.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.IO.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.IO.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.IO.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.IO.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Dashboard" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Dashboard.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.XtraDashboard.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.XtraDashboard.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.PivotChart" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.PivotChart.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.PivotChart.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.PivotChart.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.PivotChart.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.PivotChart.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.PivotGrid.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.PivotGrid.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Chart.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Chart.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Scheduler.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Scheduler.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Reports" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Reports.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Reports.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Reports.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.NCarousel" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.NCarousel.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.NCarousel.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.NCarousel.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Thumbnail.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Thumbnail.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ConditionalDetailViews" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ConditionalDetailViews.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.JobScheduler" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.JobScheduler.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Persistent.BaseImpl" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Persistent.BaseImpl.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.JobScheduler.Jobs" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.JobScheduler.Jobs.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Quartz.Server" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Quartz.Server.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ImportWizard" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ImportWizard.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ImportWizard.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ImportWizard.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Workflow" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Workflow.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.StateMachine" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.StateMachine.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ToolBoxCreator" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ToolBoxCreator.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Base" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Base.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Module" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Module.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Module.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Module.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Module.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Module.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExternalApplication.Module.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ExternalApplication.Module.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExternalApplication.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ExternalApplication.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SecurityDemo" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/SecurityDemo.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XVideoRental.Module.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/XVideoRental.Module.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XVideoRental.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/XVideoRental.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="E4035" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/E4035.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AdditionalViewControlProviderTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/AdditionalViewControlProviderTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChartTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ChartTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ConditionalDetailViewsTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ConditionalDetailViewsTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExceptionHandingTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ExceptionHandingTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FilterDataStoreTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FilterDataStoreTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ImportWizardTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ImportWizardTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IOTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/IOTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JobsSchedulerTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/JobsSchedulerTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MasterDetailTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/MasterDetailTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelArtifactStateTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ModelArtifactStateTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelDifferenceTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ModelDifferenceTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NCarouselTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/NCarouselTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DashboardTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/DashboardTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PivotChartTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/PivotChartTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ReportsTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ReportsTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SchedulerTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/SchedulerTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SecurityTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/SecurityTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StateMachineTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/StateMachineTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThumbnailTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ThumbnailTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TreeListEditorsTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/TreeListEditorsTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ValidationTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ValidationTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ViewVariantsTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ViewVariantsTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WizardUITester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/WizardUITester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WorkflowTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/WorkflowTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WorldCreatorTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/WorldCreatorTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XpandSystemTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/XpandSystemTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ModelEditor" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ModelEditor.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XpandAddIns" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/XpandAddIns.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Tests" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Tests.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>