<?xml version="1.0" encoding="utf-8"?>
<httpHandlers>
      <add verb="*" path="TestControls.axd" type="DevExpress.ExpressApp.Web.TestScripts.TestScriptsManager, DevExpress.ExpressApp.Web.v12.1, Version=12.1.6.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add verb="*" path="ImageResource.axd" type="DevExpress.ExpressApp.Web.ImageResourceHttpHandler, DevExpress.ExpressApp.Web.v12.1, Version=12.1.6.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add verb="*" path="*.aspx" type="DevExpress.ExpressApp.Web.WebWindowTemplateHttpHandler, DevExpress.ExpressApp.Web.v12.1, Version=12.1.6.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" type="DevExpress.Web.ASPxUploadControl.ASPxUploadProgressHttpHandler, DevExpress.Web.v12.1, Version=12.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    </httpHandlers>
