<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3"  DefaultTimeout="30">
	<Applications>
		<!-- Win -->
		<Application
			Name="FeatureCenter.Win"
			FileName="[WinAppBin]\FeatureCenter.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="FeatureCenter.Web"
			Url="http://localhost:5030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]" UseIISExpress="true" WebBrowserType="Standalone"  />
		<!-- For IIS -->
		<!--Application
			Name="ExternalApplicationWeb"
			Url="http://localhost/ExternalApplicationWeb/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]" UseIISExpress="true" /-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="XpandFeatureCenterEasyTest"/>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="NorthWind"/>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="XpandFeatureCenterExceptionHandling"/>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="XpandFeatureCenterMultipleDataStore"/>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="XpandFeatureCenterWorldCreator"/>
	</TestDatabases>

	<Aliases>
		<Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
		<Alias Name="WinAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WinAdapter" />
		<Alias Name="WebAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WebAdapter" />
    <Alias Name="WinAppBin" Value="[ConfigPath]\..\..\FeatureCenter.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\FeatureCenter.Web" />
	</Aliases>
</Options>
