<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" DefaultTimeout="50" >
  <Applications>
    <!-- Win -->
    <Application
			Name="FeatureCenter.Win"
			FileName="[WinAppBin]\FeatureCenter.Win.exe"
      AdapterFileName="[WinAdapterFileName]"
			CommunicationPort="4100"/>
    <!-- Web -->
    <Application
			Name="FeatureCenter.Web"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
      AdapterFileName="[WebAdapterFileName]"
/>
    <!-- For IIS -->
    <!--Application
			Name="[SolutionName]Web"
			Url="http://localhost/AdditionalCommands.Web/Default.aspx"
			 AdapterFileName="[WebAdapterFileName]"/-->
  </Applications>
  <TestDatabases>
    <Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="XpandFeatureCenterEasyTest"/>
    <Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="NorthWind"/>
    <Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="XpandFeatureCenterExceptionHandling"/>
    <Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="XpandFeatureCenterMultipleDataStore"/>
    <Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="XpandFeatureCenterWorldCreator"/>
  </TestDatabases>
  <Aliases>
    <Alias Name="WinAdapterFileName" Value="[ConfigPath]\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WinAdapter.dll" />
    <Alias Name="WebAdapterFileName" Value="[ConfigPath]\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WebAdapter.dll" />
    <Alias Name="WinAppBin" Value="[ConfigPath]\..\..\FeatureCenter.Win\Bin\EasyTest" />
    <Alias Name="WebAppBin" Value="[ConfigPath]\..\..\FeatureCenter.Web" />
  </Aliases>
</Options>
