<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.ExpressApp.HtmlPropertyEditor.Web" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Web" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Data" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Office.Core" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Core" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Web" version="18.2.3" targetFramework="net461" />
</packages>