<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <!--<add key="EnableDiagnosticActions" value="True"/>-->
    <add key="Languages" value="de;es;ja;ru" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="VideoRentLegacyPath" value="%Public%\Documents\DevExpress Demos {0}\Components\WinForms\DevExpress.VideoRent.Win\" />
  </appSettings>
  
  <!--CanNotPatchBinConnectionString-->
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XVideoRentalEasyTest" />
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XVideoRental" />
    <add name="VideoRentLegacy" connectionString="XpoProvider=SQLite;Data Source=C:\Work\expand\Demos\XVideoRental\XVideoRental.Module.Win\Resources\LegacyVideoRent\LegacyVideoRent.sqllite" />
    <!--
		Use the following connection string to connect to a database on the Microsoft SQL Server Express:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XVideoRental"/>
		-->
    <!--
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XVideoRental" />
		-->
    <!--
		Use the following connection string to connect to a Jet (Microsoft Access) database:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=XVideoRental.mdb;Mode=Share Deny None;"/>
		-->
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
