<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <!--<add key="EnableDiagnosticActions" value="True"/>-->
    <add key="Languages" value="de;es;ja;ru" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="VideoRentLegacyPath" value="%Public%\Documents\DevExpress Demos {0}\Components\WinForms\DevExpress.VideoRent.Win\"/>
  </appSettings>
  <!--CanNotPatchBinConnectionString-->
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XVideoRentalEasyTest"/>
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XpandXVideoRental" />
    <add name="VideoRentLegacy" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=LegacyVideoRent.mdb;Mode=Share Deny None;"/>
    <!--
		Use the following connection string to connect to a database on the Microsoft SQL Server Express:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XVideoRental"/>
		-->
    <!--
		Use the following connection string to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XVideoRental" />
		-->
    <!--
		Use the following connection string to connect to a Jet (Microsoft Access) database:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=XVideoRental.mdb;Mode=Share Deny None;"/>
		-->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="1" />
      <!--<add name="XPO" value="3"/>-->
      <!--demo_remove start-->
      <add name="EasyTest" value="4" />
      <!--demo_remove end-->
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>