diff --git a/.gitignore b/.gitignore
-- /dev/null
++ b/.gitignore
@@ -0,0 +1,35 @@
Xpand.DLL
*.o
*.lo
*.la
*.al
.libs 
*.so
*.so.[0-9]* 
*.a 
*.pyc
*.pyo
*.rej
*~ 
#*# 
.#* 
.*.swp 
.DS_Store
obj
bin
*.user
*.suo
Bin
*.cache
*.scc
*.bak
objsl
obj.sl
obj.wpf
obj.SL
obj.WPF
obj.Wpf
objSL
*.pdb
TestResults
pingme.txt
/Build
\ No newline at end of file
Demos/FeatureCenter/FeatureCenter.Web/Title Title*.jpg
*.Xpand
*.log
*UpgradeLog*.htm
**/Backup/**/*.*
**/*Win_View.jpeg
**/*Win_View.html
**/*Web_View.html
**/*Web_View.jpeg
**/*Win_View.png
**/*Web_View.png
Index.dat
Storage.dat
TestsLog.xml
**/ModelAdaptor/*.dll
PublicKeyToken.txt
**/UnusableNodes*.xml
**/_ReSharper.*
Model.User.xafml
log.txt
*.avi
**/Images/ScreenCapture/*.*