diff --git a/.gitignore b/.gitignore
-- /dev/null
++ b/.gitignore
@@ -0,0 +1,35 @@
Xpand.DLL
*.o
*.lo
*.la
*.al
.libs 
*.so
*.so.[0-9]* 
*.a 
*.pyc
*.pyo
*.rej
*~ 
#*# 
.#* 
.*.swp 
.DS_Store
obj
bin
*.user
*.suo
Bin
*.cache
*.scc
*.bak
objsl
obj.sl
obj.wpf
obj.SL
obj.WPF
obj.Wpf
objSL
*.pdb
TestResults
pingme.txt
/Build
\ No newline at end of file
Demos/FeatureCenter/Backup*
