source C:\Program Files (x86)\DevExpress 24.2\Components\System\Components\Packages
source https://api.nuget.org/v3/index.json
source https://xpandnugetserver.azurewebsites.net/nuget
storage: none
strategy: min
lowest_matching: true
copy_local:true
specific_version : false
framework:netstandard2.0,net6.0,net6.0-windows,net9.0,net9.0-windows

nuget Xpand.XAF.Modules.GridListEditor 4.242.6.1
nuget Xpand.XAF.Modules.Office.DocumentStyleManager 4.242.6.1
nuget Xpand.XAF.Modules.OneView 4.242.6.1
nuget Xpand.XAF.Modules.Speech 4.242.6.1
nuget Xpand.XAF.Modules.SpellChecker 4.242.6.1
nuget Xpand.XAF.Modules.Windows 4.242.6.1
nuget Xpand.Extensions.Mono.Cecil 4.242.6.1
nuget Xpand.Extensions 4.242.6.1
nuget Xpand.Extensions.Office.Cloud 4.242.6.1
nuget Xpand.Extensions.Reactive 4.242.6.1
nuget Xpand.Extensions.XAF 4.242.6.1
nuget Xpand.Extensions.XAF.Xpo 4.242.6.1
nuget Xpand.XAF.Modules.AutoCommit 4.242.6.1
nuget Xpand.XAF.Modules.BulkObjectUpdate 4.242.6.1
nuget Xpand.XAF.Modules.CloneMemberValue 4.242.6.1
nuget Xpand.XAF.Modules.CloneModelView 4.242.6.1
nuget Xpand.XAF.Modules.Email 4.242.6.1
nuget Xpand.XAF.Modules.HideToolBar 4.242.6.1
nuget Xpand.XAF.Modules.MasterDetail 4.242.6.1
nuget Xpand.XAF.Modules.ModelMapper 4.242.6.1
nuget Xpand.XAF.Modules.ModelViewInheritance 4.242.6.1
nuget Xpand.XAF.Modules.Office.Cloud.Google.Calendar 4.242.6.1
nuget Xpand.XAF.Modules.Office.Cloud.Google 4.242.6.1
nuget Xpand.XAF.Modules.Office.Cloud.Google.Tasks 4.242.6.1
nuget Xpand.XAF.Modules.PositionInListView 4.242.6.1
nuget Xpand.XAF.Modules.ProgressBarViewItem 4.242.6.1
nuget Xpand.XAF.Modules.RazorView 4.242.6.1
nuget Xpand.XAF.Modules.Reactive.Logger.Hub 4.242.6.1
nuget Xpand.XAF.Modules.Reactive.Logger 4.242.6.1
nuget Xpand.XAF.Modules.Reactive 4.242.6.1
nuget Xpand.XAF.Modules.Reactive.Rest 4.242.6.1
nuget Xpand.XAF.Modules.RefreshView 4.242.6.1
nuget Xpand.XAF.Modules.SequenceGenerator 4.242.6.1
nuget Xpand.XAF.Modules.StoreToDisk 4.242.6.1
nuget Xpand.XAF.Modules.SuppressConfirmation 4.242.6.1
nuget Xpand.XAF.Modules.ViewEditMode 4.242.6.1
nuget Xpand.XAF.Modules.ViewItemValue 4.242.6.1
nuget Xpand.XAF.Modules.ViewWizard 4.242.6.1
nuget Xpand.Extensions.Office.Cloud.Google.Blazor 4.242.6.1
nuget Xpand.Extensions.Blazor 4.242.6.1
nuget Xpand.XAF.Modules.Blazor 4.242.6.1
nuget Xpand.XAF.Modules.JobScheduler.Hangfire 4.242.6.1
nuget Xpand.XAF.Modules.JobScheduler.Notification 4.242.6.1
nuget Xpand.XAF.Modules.TenantManager 4.242.6.1

nuget DevExpress.Blazor.PdfViewer 24.2.5
nuget DevExpress.Document.Processor 24.2.5
nuget DevExpress.Drawing.Skia 24.2.5
nuget DevExpress.ExpressApp 24.2.5
nuget DevExpress.ExpressApp.Blazor 24.2.5
nuget DevExpress.ExpressApp.Chart 24.2.5
nuget DevExpress.ExpressApp.Chart.Win 24.2.5
nuget DevExpress.ExpressApp.CodeAnalysis 24.2.5
nuget DevExpress.ExpressApp.ConditionalAppearance 24.2.5
nuget DevExpress.ExpressApp.Dashboards 24.2.5
nuget DevExpress.ExpressApp.Dashboards.Blazor 24.2.5
nuget DevExpress.ExpressApp.Dashboards.Win 24.2.5
nuget DevExpress.ExpressApp.FileAttachment.Blazor 24.2.5
nuget DevExpress.ExpressApp.FileAttachment.Win 24.2.5
nuget DevExpress.ExpressApp.Notifications 24.2.5
nuget DevExpress.ExpressApp.Notifications.Win 24.2.5
nuget DevExpress.ExpressApp.Objects 24.2.5
nuget DevExpress.ExpressApp.Office 24.2.5
nuget DevExpress.ExpressApp.Office.Blazor 24.2.5
nuget DevExpress.ExpressApp.Office.Win 24.2.5
nuget DevExpress.ExpressApp.PivotChart 24.2.5
nuget DevExpress.ExpressApp.PivotChart.Win 24.2.5
nuget DevExpress.ExpressApp.PivotGrid 24.2.5
nuget DevExpress.ExpressApp.PivotGrid.Win 24.2.5
nuget DevExpress.ExpressApp.ReportsV2 24.2.5
nuget DevExpress.ExpressApp.ReportsV2.Blazor 24.2.5
nuget DevExpress.ExpressApp.ReportsV2.Win 24.2.5
nuget DevExpress.ExpressApp.Scheduler 24.2.5
nuget DevExpress.ExpressApp.Scheduler.Blazor 24.2.5
nuget DevExpress.ExpressApp.Scheduler.Win 24.2.5
nuget DevExpress.ExpressApp.TreeListEditors 24.2.5
nuget DevExpress.ExpressApp.TreeListEditors.Win 24.2.5
nuget DevExpress.ExpressApp.Validation 24.2.5
nuget DevExpress.ExpressApp.Validation.Blazor 24.2.5
nuget DevExpress.ExpressApp.Validation.Win 24.2.5
nuget DevExpress.ExpressApp.ViewVariantsModule 24.2.5
nuget DevExpress.ExpressApp.Win 24.2.5
nuget DevExpress.ExpressApp.Win.Design 24.2.5
nuget DevExpress.Persistent.Base 24.2.5
nuget DevExpress.RichEdit.Export 24.2.5
nuget DevExpress.Win.Design 24.2.5
nuget DevExpress.Win.Map 24.2.5
nuget DevExpress.ExpressApp.Security.Xpo  24.2.5
nuget DevExpress.Persistent.BaseImpl.Xpo  24.2.5

nuget DevExpress.DataAccess.UI  24.2.5
nuget DevExpress.Win.Gauges  24.2.5
nuget DevExpress.Win.Reporting  24.2.5

nuget AutoMapper 13.0.1
nuget System.Diagnostics.FileVersionInfo 4.3.0
nuget System.IO.FileSystem 4.3.0
nuget System.IO.FileSystem.Primitives 4.3.0
nuget DocumentFormat.OpenXml 2.11.3
nuget DotNetZip 1.16.0
nuget Enums.NET 5.0.0
nuget ExcelDataReader 3.6.0
nuget ExcelDataReader.DataSet 3.6.0
nuget Fasterflect.Xpand 2.0.7
nuget Fody 4.2.1 copy_local: false
nuget IIS.Microsoft.Web.Adminstration 8.5.9600.16384
nuget InputSimulator 1.0.4.0
nuget JetBrains.Annotations 2021.3
nuget Microsoft.AspNet.Razor 3.3.0
nuget Microsoft.CSharp 4.7.0
nuget Microsoft.NETCore.Platforms 7.0.4
nuget Microsoft.Win32.Registry 5.0.0
nuget System.Text.Encoding.CodePages 9.0.0
nuget Mono.Cecil 0.11.5
nuget System.Text.Json 9.0.0
nuget PropertyChanged.Fody 2.6.1 copy_local: false
nuget RazorEngine 3.10.0
nuget SharpZipLib 1.4.2
nuget System.Buffers 4.6.0
nuget System.CodeDom 9.0.0
nuget Microsoft.Data.SqlClient 5.2.2
nuget System.Configuration.ConfigurationManager 9.0.0
nuget Microsoft.Extensions.DependencyInjection.Abstractions == 9.0.0
nuget Microsoft.Extensions.DependencyInjection 9.0.0
nuget Microsoft.Extensions.Hosting.Abstractions 9.0.0
nuget Microsoft.Extensions.Options 9.0.0
nuget System.Security.Cryptography.Xml  9.0.0
nuget System.ComponentModel.Annotations == 5.0.0
nuget System.Data.OleDb 9.0.0
nuget System.Security.Permissions  9.0.0
nuget System.Reflection.Emit 4.7.0
nuget System.Drawing.Common 9.0.0
nuget System.IO.Compression 4.3.0
nuget System.Management 9.0.0
nuget System.Reactive 6.0.0
nuget System.Reflection.TypeExtensions 4.7.0
nuget system.interactive 6.0.1
nuget System.Reflection.DispatchProxy 4.8.0
nuget System.Resources.Extensions 9.0.0
nuget System.Runtime.CompilerServices.Unsafe 6.1.0
nuget System.Reflection.Emit.Lightweight == 4.7.0
nuget System.Runtime 4.3.1
nuget System.Threading.Tasks.Extensions 4.6.0
nuget System.ValueTuple 4.5.0
nuget System.Xml.XDocument 4.3.0
nuget Microsoft.AspNetCore.WebUtilities 9.0.0
nuget Unofficial.Microsoft.mshtml 7.0.3300
nuget WindowsBase 4.6.1055.0
nuget Xpand.XAF.Win.All 4.242.6.1
nuget Xpand.XAF.Web.All 4.242.6.1
nuget System.Threading.Tasks.Dataflow 9.0.0
nuget System.Memory  4.6.0
nuget System.Collections.Immutable  9.0.0
nuget System.ServiceModel.NetTcp  8.1
nuget System.ServiceModel.Security  6.0.0
nuget System.ServiceModel.Http  8.1
nuget System.ServiceModel.Duplex  6.0.0
nuget Microsoft.Bcl.AsyncInterfaces 9.0.0
nuget System.Text.Encodings.Web 9.0.0
nuget Microsoft.IdentityModel.Protocols.OpenIdConnect 6.35.0
nuget System.Security.Cryptography.ProtectedData 9.0.0
nuget Microsoft.Extensions.Configuration.Abstractions 9.0.0
nuget Microsoft.Extensions.Configuration 9.0.0
