strategy:max
framework: auto-detect
storage: none
source C:\Program Files (x86)\DevExpress 19.2\Components\System\Components\Packages
source https://api.nuget.org/v3/index.json
source https://xpandnugetserver.azurewebsites.net/nuget

nuget AForge 2.2.5
nuget AForge.Imaging 2.2.5
nuget AForge.Math 2.2.5
nuget AForge.Video 2.2.5
nuget AppDomainToolkit 1.0.4.3
nuget AutoMapper 3.3.1
nuget CommandLineParser 1.9.71
nuget Common.Logging 2.1.2
nuget DevExpress.ExpressApp.Win.All == 19.2.5
nuget DevExpress.ExpressApp.Web.All == 19.2.5
nuget DevExpress.ExpressApp.Core.All  == 19.2.5
nuget DevExpress.ExpressApp.Security.Xpo == 19.2.5
nuget DevExpress.ExpressApp.Reports == 19.2.5
nuget DevExpress.ExpressApp.Reports.Win == 19.2.5
nuget DevExpress.Document.Processor 19.2.5
nuget DocumentFormat.OpenXml 2.7.2
nuget DotNetZip 1.11.0
nuget Enums.NET 3.0.1
nuget ExcelDataReader 3.6.0
nuget ExcelDataReader.DataSet 3.6.0
nuget Fasterflect.Xpand
nuget Fody 4.2.1 copy_local: false
nuget IIS.Microsoft.Web.Adminstration 8.5.9600.16384
nuget InputSimulator 1.0.4.0
nuget JetBrains.Annotations 
nuget Microsoft.AspNet.Razor == 3.2.7
nuget Microsoft.CSharp 4.7
nuget Microsoft.NETCore.Platforms 3.1.0
nuget Microsoft.Win32.Registry 4.7
nuget Mono.Cecil 0.11.1
nuget Newtonsoft.Json 12.0.2
nuget PropertyChanged.Fody 2.6.1 copy_local: false
nuget Quartz 2.2.4
nuget RazorEngine 3.10.0
nuget Ryder 0.8.0
nuget SharpZipLib 1.1.0
nuget System.Buffers 4.5
nuget System.CodeDom 4.6.0
nuget System.Configuration.ConfigurationManager == 4.6.0
nuget System.Reflection.Emit 4.7.0
nuget System.Drawing.Common 4.7.0
nuget System.IO.Compression 4.3.0
nuget System.Management 4.5.0
nuget System.Reactive 4.2.0
nuget System.Resources.Extensions 4.6.0
nuget System.Runtime.CompilerServices.Unsafe == 4.7
nuget System.Threading.Tasks.Extensions 4.5.3
nuget System.ValueTuple 4.5.0
nuget System.Xml.XDocument 4.3.0
nuget Topshelf 3.1.4
nuget Unofficial.Microsoft.mshtml 7.0.3300
nuget WindowsBase 4.6.1055.0
nuget Xpand.XAF.Win.All 2.192.22.0
nuget Xpand.XAF.Web.All 2.192.22.0
