source C:\Program Files (x86)\DevExpress 25.1\Components\System\Components\Packages
source https://api.nuget.org/v3/index.json
source https://xpandnugetserver.azurewebsites.net/nuget
storage: none
strategy: min
lowest_matching: true
copy_local:true
specific_version : false
framework:netstandard2.0,net6.0,net6.0-windows,net9.0,net9.0-windows

nuget Xpand.XAF.Modules.GridListEditor 4.251.3
nuget Xpand.XAF.Modules.Office.DocumentStyleManager 4.251.3
nuget Xpand.XAF.Modules.OneView 4.251.3
nuget Xpand.XAF.Modules.Speech 4.251.3
nuget Xpand.XAF.Modules.SpellChecker 4.251.3
nuget Xpand.XAF.Modules.Windows 4.251.3
nuget Xpand.Extensions.Mono.Cecil 4.251.3
nuget Xpand.Extensions 4.251.3
nuget Xpand.Extensions.Office.Cloud 4.251.3
nuget Xpand.Extensions.Reactive 4.251.3
nuget Xpand.Extensions.XAF 4.251.3
nuget Xpand.Extensions.XAF.Xpo 4.251.3
nuget Xpand.XAF.Modules.AutoCommit 4.251.3
nuget Xpand.XAF.Modules.BulkObjectUpdate 4.251.3
nuget Xpand.XAF.Modules.CloneMemberValue 4.251.3
nuget Xpand.XAF.Modules.CloneModelView 4.251.3
nuget Xpand.XAF.Modules.Email 4.251.3
nuget Xpand.XAF.Modules.HideToolBar 4.251.3
nuget Xpand.XAF.Modules.MasterDetail 4.251.3
nuget Xpand.XAF.Modules.ModelMapper 4.251.3
nuget Xpand.XAF.Modules.ModelViewInheritance 4.251.3
nuget Xpand.XAF.Modules.Office.Cloud.Google.Calendar 4.251.3
nuget Xpand.XAF.Modules.Office.Cloud.Google 4.251.3
nuget Xpand.XAF.Modules.Office.Cloud.Google.Tasks 4.251.3
nuget Xpand.XAF.Modules.PositionInListView 4.251.3
nuget Xpand.XAF.Modules.ProgressBarViewItem 4.251.3
nuget Xpand.XAF.Modules.RazorView 4.251.3
nuget Xpand.XAF.Modules.Reactive.Logger.Hub 4.251.3
nuget Xpand.XAF.Modules.Reactive.Logger 4.251.3
nuget Xpand.XAF.Modules.Reactive 4.251.3
nuget Xpand.XAF.Modules.Reactive.Rest 4.251.3
nuget Xpand.XAF.Modules.RefreshView 4.251.3
nuget Xpand.XAF.Modules.SequenceGenerator 4.251.3
nuget Xpand.XAF.Modules.StoreToDisk 4.251.3
nuget Xpand.XAF.Modules.SuppressConfirmation 4.251.3
nuget Xpand.XAF.Modules.ViewEditMode 4.251.3
nuget Xpand.XAF.Modules.ViewItemValue 4.251.3
nuget Xpand.XAF.Modules.ViewWizard 4.251.3
nuget Xpand.Extensions.Office.Cloud.Google.Blazor 4.251.3
nuget Xpand.Extensions.Blazor 4.251.3
nuget Xpand.XAF.Modules.Blazor 4.251.3
nuget Xpand.XAF.Modules.JobScheduler.Hangfire 4.251.3
nuget Xpand.XAF.Modules.JobScheduler.Notification 4.251.3
nuget Xpand.XAF.Modules.TenantManager 4.251.3

nuget DevExpress.Blazor.PdfViewer 25.1.3
nuget DevExpress.Document.Processor 25.1.3
nuget DevExpress.Drawing.Skia 25.1.3
nuget DevExpress.ExpressApp 25.1.3
nuget DevExpress.ExpressApp.Blazor 25.1.3
nuget DevExpress.ExpressApp.Chart 25.1.3
nuget DevExpress.ExpressApp.Chart.Win 25.1.3
nuget DevExpress.ExpressApp.CodeAnalysis 25.1.3
nuget DevExpress.ExpressApp.ConditionalAppearance 25.1.3
nuget DevExpress.ExpressApp.Dashboards 25.1.3
nuget DevExpress.ExpressApp.Dashboards.Blazor 25.1.3
nuget DevExpress.ExpressApp.Dashboards.Win 25.1.3
nuget DevExpress.ExpressApp.FileAttachment.Blazor 25.1.3
nuget DevExpress.ExpressApp.FileAttachment.Win 25.1.3
nuget DevExpress.ExpressApp.Notifications 25.1.3
nuget DevExpress.ExpressApp.Notifications.Win 25.1.3
nuget DevExpress.ExpressApp.Objects 25.1.3
nuget DevExpress.ExpressApp.Office 25.1.3
nuget DevExpress.ExpressApp.Office.Blazor 25.1.3
nuget DevExpress.ExpressApp.Office.Win 25.1.3
nuget DevExpress.ExpressApp.PivotChart 25.1.3
nuget DevExpress.ExpressApp.PivotChart.Win 25.1.3
nuget DevExpress.ExpressApp.PivotGrid 25.1.3
nuget DevExpress.ExpressApp.PivotGrid.Win 25.1.3
nuget DevExpress.ExpressApp.ReportsV2 25.1.3
nuget DevExpress.ExpressApp.ReportsV2.Blazor 25.1.3
nuget DevExpress.ExpressApp.ReportsV2.Win 25.1.3
nuget DevExpress.ExpressApp.Scheduler 25.1.3
nuget DevExpress.ExpressApp.Scheduler.Blazor 25.1.3
nuget DevExpress.ExpressApp.Scheduler.Win 25.1.3
nuget DevExpress.ExpressApp.TreeListEditors 25.1.3
nuget DevExpress.ExpressApp.TreeListEditors.Win 25.1.3
nuget DevExpress.ExpressApp.Validation 25.1.3
nuget DevExpress.ExpressApp.Validation.Blazor 25.1.3
nuget DevExpress.ExpressApp.Validation.Win 25.1.3
nuget DevExpress.ExpressApp.ViewVariantsModule 25.1.3
nuget DevExpress.ExpressApp.Win 25.1.3
nuget DevExpress.ExpressApp.Win.Design 25.1.3
nuget DevExpress.Persistent.Base 25.1.3
nuget DevExpress.RichEdit.Export 25.1.3
nuget DevExpress.Win.Design 25.1.3
nuget DevExpress.Win.Map 25.1.3
nuget DevExpress.ExpressApp.Security.Xpo  25.1.3
nuget DevExpress.Persistent.BaseImpl.Xpo  25.1.3

nuget DevExpress.DataAccess.UI  25.1.3
nuget DevExpress.Win.Gauges  25.1.3
nuget DevExpress.Win.Reporting  25.1.3

nuget AutoMapper 13.0.1
nuget System.Diagnostics.FileVersionInfo 4.3.0
nuget System.IO.FileSystem 4.3.0
nuget System.IO.FileSystem.Primitives 4.3.0
nuget DocumentFormat.OpenXml 2.11.3
nuget DotNetZip 1.16.0
nuget Enums.NET 5.0.0
nuget ExcelDataReader 3.6.0
nuget ExcelDataReader.DataSet 3.6.0
nuget Fasterflect.Xpand 2.0.7
nuget Fody 4.2.1 copy_local: false
nuget IIS.Microsoft.Web.Adminstration 8.5.9600.16384
nuget InputSimulator 1.0.4.0
nuget JetBrains.Annotations 2021.3
nuget Microsoft.AspNet.Razor 3.3.0
nuget Microsoft.CSharp 4.7.0
nuget Microsoft.NETCore.Platforms 7.0.4
nuget Microsoft.Win32.Registry 5.0.0
nuget System.Text.Encoding.CodePages 9.0.6
nuget Mono.Cecil 0.11.5
nuget System.Text.Json 9.0.6
nuget PropertyChanged.Fody 2.6.1 copy_local: false
nuget RazorEngine 3.10.0
nuget SharpZipLib 1.4.2
nuget System.Buffers 4.6.0
nuget System.CodeDom 9.0.6
nuget Microsoft.Data.SqlClient 5.2.2
nuget System.Configuration.ConfigurationManager 9.0.6
nuget Microsoft.Extensions.DependencyInjection.Abstractions == 9.0.6
nuget Microsoft.Extensions.DependencyInjection 9.0.6
nuget Microsoft.Extensions.Hosting.Abstractions 9.0.6
nuget Microsoft.Extensions.Options 9.0.6
nuget System.Security.Cryptography.Xml  9.0.6
nuget System.ComponentModel.Annotations == 5.0.0
nuget System.Data.OleDb 9.0.6
nuget System.Security.Permissions  9.0.6
nuget System.Reflection.Emit 4.7.0
nuget System.Drawing.Common 9.0.6
nuget System.IO.Compression 4.3.0
nuget System.Management 9.0.6
nuget System.Reactive 6.0.0
nuget System.Reflection.TypeExtensions 4.7.0
nuget system.interactive 6.0.1
nuget System.Reflection.DispatchProxy 4.8.0
nuget System.Resources.Extensions 9.0.6
nuget System.Runtime.CompilerServices.Unsafe 6.1.0
nuget System.Reflection.Emit.Lightweight == 4.7.0
nuget System.Runtime 4.3.1
nuget System.Threading.Tasks.Extensions 4.6.0
nuget System.ValueTuple 4.5.0
nuget System.Xml.XDocument 4.3.0
nuget Microsoft.AspNetCore.WebUtilities 9.0.6
nuget Unofficial.Microsoft.mshtml 7.0.3300
nuget WindowsBase 4.6.1055.0
nuget Xpand.XAF.Win.All 4.251.3.0
nuget Xpand.XAF.Web.All 4.251.3.0
nuget System.Threading.Tasks.Dataflow 9.0.6
nuget System.Memory  4.6.0
nuget System.Collections.Immutable  9.0.6
nuget System.ServiceModel.NetTcp  8.1.2
nuget System.ServiceModel.Security  6.0.0
nuget System.ServiceModel.Http  8.1.2
nuget System.ServiceModel.Duplex  6.0.0
nuget Microsoft.Bcl.AsyncInterfaces 9.0.6
nuget System.Text.Encodings.Web 9.0.6
nuget Microsoft.Identity.Client 4.73.1
nuget Microsoft.IdentityModel.Protocols.OpenIdConnect 8.0.1
nuget Microsoft.IdentityModel.Abstractions 8.12.1
nuget System.Security.Cryptography.ProtectedData 9.0.6
nuget Microsoft.Extensions.Configuration.Abstractions 9.0.6
nuget Microsoft.Extensions.Configuration 9.0.6
nuget System.Data.SqlClient 4.9.0
