<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <!--
		Use the one of predefined values: None, ApplicationFolder, ApplicationDataFolder. The default value is ApplicationFolder.
		<add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
		<add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
		<add key="Languages" value="de;es;ja;ru"/>
		-->
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=SchedulerTesterEasyTest" />
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=SchedulerTester" />
    <!--
		Use the following connection string to connect to a database on the Microsoft SQL Server Express:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=SchedulerTester"/>
		-->
    <!--
		Use the following connection string to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=SchedulerTester" />
		-->
    <!--
		Use the following connection string to connect to a Jet (Microsoft Access) database:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=SchedulerTester.mdb;Mode=Share Deny None;"/>
		-->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
			<add name="XPO" value="3" />
			-->
    </switches>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Utils" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Utils.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.EmailTemplateEngine" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.EmailTemplateEngine.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Xpo" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Xpo.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Persistent.Base" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Persistent.Base.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Security" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Security.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Security.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Security.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Validation" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Validation.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Validation.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Validation.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Validation.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Validation.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Logic" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Logic.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Logic.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Logic.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Logic.Conditional" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Logic.Conditional.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.MemberLevelSecurity" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.MemberLevelSecurity.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.MemberLevelSecurity.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.MemberLevelSecurity.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.AdditionalViewControlsProvider" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.AdditionalViewControlsProvider.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.AdditionalViewControlsProvider.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.AdditionalViewControlsProvider.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.AdditionalViewControlsProvider.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.AdditionalViewControlsProvider.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ModelDifference" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ModelDifference.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ModelDifference.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ModelDifference.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ModelDifference.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ModelDifference.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.FilterDataStore" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.FilterDataStore.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.FilterDataStore.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.FilterDataStore.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.FilterDataStore.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.FilterDataStore.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ArtifactState" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ArtifactState.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ConditionalActionState" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ConditionalActionState.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ConditionalControllerState" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ConditionalControllerState.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ModelArtifactState" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ModelArtifactState.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WizardUI.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WizardUI.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ViewVariants" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ViewVariants.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.MasterDetail" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.MasterDetail.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.MasterDetail.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.MasterDetail.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.TreeListEditors" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.TreeListEditors.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.TreeListEditors.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.TreeListEditors.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.TreeListEditors.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.TreeListEditors.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ExceptionHandling" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ExceptionHandling.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ExceptionHandling.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ExceptionHandling.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ExceptionHandling.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ExceptionHandling.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WorldCreator" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WorldCreator.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WorldCreator.SqlDBMapper" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WorldCreator.SqlDBMapper.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WorldCreator.DBMapper" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WorldCreator.DBMapper.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WorldCreator.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WorldCreator.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.WorldCreator.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.WorldCreator.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.IO" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.IO.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.IO.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.IO.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.IO.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.IO.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Dashboard" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Dashboard.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.XtraDashboard.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.XtraDashboard.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.PivotChart" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.PivotChart.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.PivotChart.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.PivotChart.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.PivotChart.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.PivotChart.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.PivotGrid.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.PivotGrid.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Chart.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Chart.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Scheduler.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Scheduler.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Reports" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Reports.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Reports.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Reports.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.NCarousel" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.NCarousel.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.NCarousel.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.NCarousel.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Thumbnail.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Thumbnail.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ConditionalDetailViews" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ConditionalDetailViews.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.JobScheduler" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.JobScheduler.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Persistent.BaseImpl" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Persistent.BaseImpl.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.JobScheduler.Jobs" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.JobScheduler.Jobs.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Quartz.Server" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Quartz.Server.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ImportWizard" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ImportWizard.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ImportWizard.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ImportWizard.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.Workflow" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.Workflow.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.StateMachine" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.StateMachine.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ToolBoxCreator" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ToolBoxCreator.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Base" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Base.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Module" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Module.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Module.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Module.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Module.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Module.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FeatureCenter.Web" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FeatureCenter.Web.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExternalApplication.Module.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ExternalApplication.Module.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExternalApplication.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ExternalApplication.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SecurityDemo" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/SecurityDemo.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XVideoRental.Module.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/XVideoRental.Module.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XVideoRental.Win" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/XVideoRental.Win.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="E4035" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/E4035.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AdditionalViewControlProviderTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/AdditionalViewControlProviderTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChartTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ChartTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ConditionalDetailViewsTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ConditionalDetailViewsTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExceptionHandingTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ExceptionHandingTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FilterDataStoreTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/FilterDataStoreTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ImportWizardTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ImportWizardTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IOTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/IOTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JobsSchedulerTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/JobsSchedulerTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MasterDetailTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/MasterDetailTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelArtifactStateTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ModelArtifactStateTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ModelDifferenceTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ModelDifferenceTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NCarouselTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/NCarouselTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DashboardTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/DashboardTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PivotChartTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/PivotChartTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ReportsTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ReportsTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SchedulerTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/SchedulerTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SecurityTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/SecurityTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StateMachineTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/StateMachineTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThumbnailTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ThumbnailTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TreeListEditorsTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/TreeListEditorsTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ValidationTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ValidationTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ViewVariantsTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/ViewVariantsTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WizardUITester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/WizardUITester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WorkflowTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/WorkflowTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WorldCreatorTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/WorldCreatorTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XpandSystemTester" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/XpandSystemTester.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.ExpressApp.ModelEditor" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.ExpressApp.ModelEditor.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XpandAddIns" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/XpandAddIns.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xpand.Tests" publicKeyToken="c52ffed5d5ff0958" culture="neutral" />
        <codeBase version="13.1.4.2" href="file://C:\eXpandFrameWork\eXpand\Xpand.Dll/Xpand.Tests.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>