<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3"  DefaultTimeout="60">
	<Applications>
		<!-- Win -->
		<Application
			Name="DCSecurityDemo.Win"
			FileName="[WinAppBin]\DCSecurityDemo.Win.exe"
			AdapterFileName="[WinAdapterFileName]"
			CommunicationPort="4100"/>
    <Application
			Name="DCSecurityDemo.UiLevel.Win"
			FileName="[WinAppUiBin]\DCSecurityDemo.UiLevel.Win.exe"
			AdapterFileName="[WinAdapterFileName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="DCSecurityDemo.Web"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterFileName="[WebAdapterFileName]"  />
    <Application
			Name="DCSecurityDemo.UiLevel.Web"
			Url="http://localhost:4030/"
			PhysicalPath="[WebAppUiBin]"
			AdapterFileName="[WebAdapterFileName]"  />
		<!-- For IIS -->
		<!--Application
			Name="DCSecurityDemo.Web"
			Url="http://localhost/DCSecurityDemo.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"  /-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(localdb)\mssqllocaldb" DBName="XpandDCSecurityDemoEasyTest"/>
	</TestDatabases>

	<Aliases>
    <Alias Name="WinAdapterFileName" Value="[ConfigPath]\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WinAdapter.dll" />
    <Alias Name="WebAdapterFileName" Value="[ConfigPath]\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WebAdapter.dll" />
		<Alias Name="WinAppUiBin" Value="[ConfigPath]\..\..\DCSecurityDemo.UiLevel.Win\Bin\EasyTest" />
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\DCSecurityDemo.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\DCSecurityDemo.Web" />
		<Alias Name="WebAppUiBin" Value="[ConfigPath]\..\..\DCSecurityDemo.UiLevel.Web" />
	</Aliases>
</Options>
