<?xml version="1.0" encoding="utf-8"?>
<httpHandlers>
    <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.1, Version=15.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    <add verb="*" path="DXX.axd" type="DevExpress.ExpressApp.Web.XafHttpHandler, DevExpress.ExpressApp.Web.v15.1, Version=15.1.5.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />
</httpHandlers>
