<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
  <Applications>
    <!-- Win -->
    <Application
			Name="SystemTester.Win"
			FileName="[WinAppBin]\SystemTester.Win.exe"
      AdapterFileName="[WinAdapterFileName]"
			CommunicationPort="4100"/>
    <!-- Web -->
    <Application
			Name="SystemTester.Web"
			Url="http://localhost:63074"
			PhysicalPath="[WebAppBin]"
      AdapterFileName="[WebAdapterFileName]" UseIISExpress="True"
/>
    <!-- For IIS -->
    <!--Application
			Name="[SolutionName]Web"
			Url="http://localhost/AdditionalCommands.Web/Default.aspx"
			 AdapterFileName="[WebAdapterFileName]"/-->
  </Applications>
  <TestDatabases>
    <Database xsi:type="TestMSSQLDatabase" Server="(local)" DBName="SystemTesterEasyTest" />
  </TestDatabases>
  <Aliases>
    <Alias Name="WinAdapterFileName" Value="[ConfigPath]\..\..\..\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WinAdapter.dll" />
    <Alias Name="WebAdapterFileName" Value="[ConfigPath]\..\..\..\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WebAdapter.dll" />
    <Alias Name="WinAppBin" Value="[ConfigPath]\..\..\..\..\SystemTester.Win\Bin\EasyTest" />
    <Alias Name="WebAppBin" Value="[ConfigPath]\..\..\..\..\SystemTester.Web" />
  </Aliases>
</Options>
