<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="FilterProvider" type="Xpand.ExpressApp.FilterDataStore.Core.FilterProviderConfiguration,Xpand.ExpressApp.FilterDataStore, Version=*, Culture=neutral, PublicKeyToken=*" />
  </configSections>
  <connectionStrings>
    <!--Standard sql authentication connectionstrings. These are well tested and work if you encounter any authentication errors consider googling about them. 
    <add name="ConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenter;User Id=username;Password=password;"
      providerName="" />
    <add name="EasyTestConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterEasyTest;User Id=username;Password=password;"
      providerName="" />
    <add name="ExceptionHandlingConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterExceptionHandling;User Id=username;Password=password;"
      providerName="" />
    <add name="FeatureCenterMultipleDataStoreConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterMultipleDataStore;User Id=username;Password=password;"
      providerName="" />
    <add name="WorldCreatorConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterWorldCreator;User Id=username;Password=password;"
      providerName="" />
    <add name="NorthWind" connectionString="XpoProvider=MSSqlServer;data source=servername;User Id=username;Password=password;;initial catalog=Northwind"
      providerName="" />
      -->
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XpandFeatureCenter" providerName="" />
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XpandFeatureCenterEasyTest" providerName="" />
    <add name="ExceptionHandlingConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XpandFeatureCenterExceptionHandling" providerName="" />
    <add name="FeatureCenterMultipleDataStoreConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XpandFeatureCenterMultipleDataStore" providerName="" />
    <add name="WorldCreatorConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=XpandFeatureCenterWorldCreator" providerName="" />
    <add name="NorthWind" connectionString="XpoProvider=MSSqlServer;data source=(localdb)\mssqllocaldb;integrated security=SSPI;initial catalog=Northwind" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="WorkflowServerAddress" value="http://localhost:46232" />
    <add key="UnGroupXpandAttributes" value="True" />
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="True" />
    <add key="ExceptionHandling" value="True" />
    <add key="ThresholdEmailJobHost" value="smtp.mail.com:587" />
    <add key="ThresholdEmailJobFrom" value="username@domain.com" />
    <add key="ThresholdEmailJobFromPass" value="mypassword" />
    <add key="ThresholdEmailJobEnableSsl" value="True" />
    <add key="Languages" value="de" />
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="DEBUG" />
        <arg key="dateTimeFormat" value="HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <FilterProvider defaultProvider="SkinFilterProvider">
    <providers>
      <add name="UserFilterProvider" type="Xpand.ExpressApp.FilterDataStore.Providers.UserFilterProvider,Xpand.ExpressApp.FilterDataStore" />
      <add name="SkinFilterProvider" type="Xpand.ExpressApp.FilterDataStore.Win.Providers.SkinFilterProvider,Xpand.ExpressApp.FilterDataStore.Win" />
      <add name="ContinentFilterProvider" type="FeatureCenter.Module.LowLevelFilterDataStore.ContinentFilter.ContinentFilterProvider,FeatureCenter.Module" />
    </providers>
  </FilterProvider>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
			<add name="XPO" value="3" />
			-->
    </switches>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>