<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="FilterProvider" type="Xpand.ExpressApp.FilterDataStore.Core.FilterProviderConfiguration,Xpand.ExpressApp.FilterDataStore, Version=*, Culture=neutral, PublicKeyToken=*" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="to@example.com" fromAddress="from@example.com" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <!--Standard sql authentication connectionstrings. These are well tested and work if you encounter any authentication errors consider googling about them. 
    <add name="ConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenter;User Id=username;Password=password;"
      providerName="" />
    <add name="EasyTestConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterEasyTest;User Id=username;Password=password;"
      providerName="" />
    <add name="ExceptionHandlingConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterExceptionHandling;User Id=username;Password=password;"
      providerName="" />
    <add name="FeatureCenterMultipleDataStoreConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterMultipleDataStore;User Id=username;Password=password;"
      providerName="" />
    <add name="WorldCreatorConnectionString" connectionString="Data Source=servername;Initial Catalog=XpandFeatureCenterWorldCreator;User Id=username;Password=password;"
      providerName="" />
    <add name="NorthWind" connectionString="XpoProvider=MSSqlServer;data source=servername;User Id=username;Password=password;;initial catalog=Northwind"
      providerName="" />
      -->
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XpandFeatureCenter;Application Name=FeatureCenter" providerName="" />
    <add name="EasyTestConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XpandFeatureCenterEasyTest" providerName="" />
    <add name="ExceptionHandlingConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XpandFeatureCenterExceptionHandling;Application Name=FeatureCenter" providerName="" />
    <add name="FeatureCenterMultipleDataStoreConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XpandFeatureCenterMultipleDataStore;Application Name=FeatureCenterMultipleDataStore" providerName="" />
    <add name="WorldCreatorConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=XpandFeatureCenterWorldCreator;Application Name=FeatureCenterWorldCreator" providerName="" />
    <add name="NorthWind" connectionString="XpoProvider=MSSqlServer;data source=.\SQLEXPRESS;integrated security=SSPI;initial catalog=Northwind" providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="WorkflowServerAddress" value="http://localhost:46232" />
    <add key="UnGroupXpandAttributes" value="True" />
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="True" />
    <add key="ExceptionHandling" value="True" />
    <add key="ThresholdEmailJobHost" value="smtp.mail.com:587" />
    <add key="ThresholdEmailJobFrom" value="username@domain.com" />
    <add key="ThresholdEmailJobFromPass" value="mypassword" />
    <add key="ThresholdEmailJobEnableSsl" value="True" />
    <add key="Languages" value="de" />
  </appSettings>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=*" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="DEBUG" />
        <arg key="dateTimeFormat" value="HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <FilterProvider defaultProvider="SkinFilterProvider">
    <providers>
      <add name="UserFilterProvider" type="Xpand.ExpressApp.FilterDataStore.Providers.UserFilterProvider,Xpand.ExpressApp.FilterDataStore" />
      <add name="SkinFilterProvider" type="Xpand.ExpressApp.FilterDataStore.Win.Providers.SkinFilterProvider,Xpand.ExpressApp.FilterDataStore.Win" />
      <add name="ContinentFilterProvider" type="FeatureCenter.Module.LowLevelFilterDataStore.ContinentFilter.ContinentFilterProvider,FeatureCenter.Module" />
    </providers>
  </FilterProvider>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
			<add name="XPO" value="3" />
			-->
    </switches>
  </system.diagnostics>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>