<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="Quartz" version="2.2.4" targetFramework="net40" />
  <package id="DevExpress.ExpressApp.Chart" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Chart.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.CloneObject" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.ConditionalAppearance" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.FileAttachment.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.HtmlPropertyEditor.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Kpi" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.PivotChart" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.PivotChart.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.PivotGrid" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.PivotGrid.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Reports" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Reports.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Scheduler" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Scheduler.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.ScriptRecorder" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.ScriptRecorder.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.StateMachine" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.TreeListEditors" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.TreeListEditors.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.ViewVariantsModule" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Workflow.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Security.Xpo" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Xpo" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Utils" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Data" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Objects" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Security" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Validation" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Validation.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Persistent.Base" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Persistent.BaseImpl" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Workflow" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Xpo" version="18.2.4" targetFramework="net461" />
</packages>