<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.v13.2" publicKeyToken="8f2823b07f50ed12" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Persistent.Base.v13.2" publicKeyToken="8f2823b07f50ed12" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v13.2" publicKeyToken="8f2823b07f50ed12" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraReports.v13.2" publicKeyToken="8f2823b07f50ed12" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Printing.v13.2.Core" publicKeyToken="8f2823b07f50ed12" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v13.2" publicKeyToken="8f2823b07f50ed12" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Xpo.v13.2" publicKeyToken="8f2823b07f50ed12" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.ExpressApp.Xpo.v13.2" publicKeyToken="8f2823b07f50ed12" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.2.9.0" newVersion="13.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>