<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.ExpressApp.ScriptRecorder.Web" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.TreeListEditors.Web" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Export" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Printing.Core" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Data" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Xpo" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Images" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Web" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Persistent.Base" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Persistent.BaseImpl" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Office.Core" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Core" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Web" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Xpo" version="18.2.3" targetFramework="net461" />
</packages>