<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
  <Applications>
    <!-- Win -->
    <Application
			Name="SecuritySystemExample.Win"
			FileName="[WinAppBin]\SecuritySystemExample.Win.exe"
      AdapterFileName="[WinAdapterFileName]"
			CommunicationPort="4100" AdditionalApplications="[ConfigPath]\..\..\ConsoleApplicationServer\bin\EasyTest\ConsoleApplicationServer.exe" />
    <!-- Web -->
   
    <!-- For IIS -->
    <!--Application
			Name="[SolutionName]Web"
			Url="http://localhost/AdditionalCommands.Web/Default.aspx"
			 AdapterFileName="[WebAdapterFileName]"/-->
  </Applications>
  <TestDatabases>
    <Database xsi:type="TestMSSQLDatabase" Server="(localdb)\mssqllocaldb" DBName="E4036-Xpand"/>
  </TestDatabases>
  <Aliases>
    <Alias Name="WinAdapterFileName" Value="[ConfigPath]\..\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WinAdapter.dll" />
    <Alias Name="WebAdapterFileName" Value="[ConfigPath]\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WebAdapter.dll" />
    <Alias Name="WinAppBin" Value="[ConfigPath]\..\..\SecuritySystemExample.Win\Bin\EasyTest" />
  </Aliases>
</Options>
