<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Core" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.DataAccess" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.DataAccess.UI" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.Design" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.ExpressApp" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.ExpressApp.Images" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.ExpressApp.Reports" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.ExpressApp.ReportsV2" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.ExpressApp.Security" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.ExpressApp.Validation" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.ExpressApp.Web" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.ExpressApp.Xpo" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.Persistent.Base" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.Persistent.BaseImpl" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.Utils.UI" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.Web" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.Web.ASPxThemes" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.Web.ASPxTreeList" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.Xpo" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraBars" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraCharts" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraEditors" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraGauges.Core" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraGrid" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraLayout" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraPivotGrid" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraPrinting" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraReports" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraRichEdit" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraTreeList" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraVerticalGrid" version="14.1.5.0" targetFramework="net45" />
  <package id="DevExpress.XtraWizard" version="14.1.5.0" targetFramework="net45" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
</packages>