<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3"  DefaultTimeout="30">
	<Applications>
		<!-- Win -->
		<Application
			Name="WorkflowTester.Win"
			FileName="[WinAppBin]\WorkflowTester.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="WorkflowTester.Web"
			Url="http://localhost:50029"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"  />
		<!-- For IIS -->
		<!--Application
			Name="WorkflowTester.Web"
			Url="http://localhost/WorkflowTester.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"  /-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="WorkflowTesterEasyTest" />
	</TestDatabases>

	<Aliases>
		<Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
		<Alias Name="WinAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WinAdapter, Version=14.1.8.2, Culture=neutral, PublicKeyToken=c52ffed5d5ff0958" />
		<Alias Name="WebAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WebAdapter, Version=14.1.8.2, Culture=neutral, PublicKeyToken=c52ffed5d5ff0958" />
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\WorkflowTester.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\WorkflowTester.Web" />
	</Aliases>
</Options>
