<html>
<head>
    <title>Welcome to mysite.com</title>
</head>
<body>
    <p>Dear @Model.Name,</p>
    <p>An account has been created for you.</p>
    <p>Your account is FREE and allows you to perform bla bla features.</p>
    <p>To login and complete your profile, please go to:</p>
    <p><a href="@Model.LogOnUrl">@Model.LogOnUrl</a></p>
    <p>Your User ID is your email address and password is: @Model.Password</p>
</body>
</html>