strategy:max
storage: packages
cache ../.paket/nupkgs versions: current
source "C:\Program Files (x86)\DevExpress 19.2\Components\System\Components\Packages"
source https://api.nuget.org/v3/index.json
source https://xpandnugetserver.azurewebsites.net/nuget


nuget DevExpress.ExpressApp.Xpo 19.2.3
nuget DevExpress.ExpressApp.Win 19.2.3
nuget Fasterflect.Xpand 2.0.7
nuget Fody 4.2.1
nuget Microsoft.CSharp 4.6.0
nuget Microsoft.VisualStudio.SDK 15.9.3
nuget Microsoft.VisualStudio.SDK.EmbedInteropTypes 15.0.27
nuget Microsoft.VSSDK.BuildTools 15.9.3032
nuget Mono.Cecil 0.11.1
nuget Newtonsoft.Json 12.0.2
nuget PropertyChanged.Fody 2.6.1
nuget System.Configuration.ConfigurationManager 4.6.0
nuget System.Management 4.5.0 framework:net472
nuget System.Reactive 4.2.0
nuget System.Xml.XDocument 4.3.0  framework:net472
nuget Microsoft.VisualStudio.Threading 15.8.192.29799