<?xml version="1.0" encoding="utf-8"?>
    <httpHandlers>
      <add path="DXX.axd" verb="*" type="DevExpress.ExpressApp.Web.XafHttpHandler, DevExpress.ExpressApp.Web.v19.1, Version=19.1.2.0, culture=neutral, PublicKeyToken=b88d1754d700e49a" />    
      <add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.1, Version=19.1.2.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add path="DXXRD.axd" verb="GET,POST" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.1, Version=19.1.2.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" validate="false" />
        <add verb="*" path="Static*" type="DevExpress.ExpressApp.Mobile.StaticResourcesHttpHandler, DevExpress.ExpressApp.Mobile.v19.1, Version=19.1.2.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      <add verb="GET,POST" path="ReportsHandler*" type="DevExpress.ExpressApp.ReportsV2.Mobile.ReportsHandler, DevExpress.ExpressApp.ReportsV2.Mobile.v19.1, Version=19.1.2.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
</httpHandlers>
