<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Core" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.DataAccess" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.DataAccess.UI" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.Design" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.ExpressApp" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.ExpressApp.Security" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.ExpressApp.Xpo" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.Persistent.Base" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.Utils.UI" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.Xpo" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraBars" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraCharts" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraEditors" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraGrid" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraLayout" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraPivotGrid" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraPrinting" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraReports" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraRichEdit" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraTreeList" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraVerticalGrid" version="13.2.9.1" targetFramework="net40" />
  <package id="DevExpress.XtraWizard" version="13.2.9.1" targetFramework="net40" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net40" />
</packages>