<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3"  DefaultTimeout="30">
	<Applications>
		<!-- Win -->
		<Application
			Name="IOTester.Win"
			FileName="[WinAppBin]\IOTester.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="IOTester.Web"
			Url="http://localhost:50012"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"  />
		<!-- For IIS -->
		<!--Application
			Name="IOTester.Web"
			Url="http://localhost/IOTester.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"  /-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="IOTesterEasyTest" />
	</TestDatabases>

	<Aliases>
		
		<Alias Name="WinAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WinAdapter, Version=14.2.4.2, Culture=neutral, PublicKeyToken=c52ffed5d5ff0958" />
		<Alias Name="WebAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WebAdapter, Version=14.2.4.2, Culture=neutral, PublicKeyToken=c52ffed5d5ff0958" />
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\IOTester.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\IOTester.Web" />
	</Aliases>
</Options>
