<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3"  DefaultTimeout="30">
	<Applications>
		<!-- Win -->
		<Application
			Name="ChartTester.Win"
			FileName="[WinAppBin]\ChartTester.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
<!--		<Application-->
<!--			Name="ChartTester.Web"-->
<!--			Url="http://localhost:5004"-->
<!--			PhysicalPath="[WebAppBin]"-->
<!--			AdapterAssemblyName="[WebAdapterAssemblyName]"  />-->
		<!-- For IIS -->
		<!--Application
			Name="ChartTester.Web"
			Url="http://localhost/ChartTester.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"  /-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="ChartTesterEasyTest"/>
	</TestDatabases>

	<Aliases>
		<Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
		<Alias Name="WinAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WinAdapter, Version=14.2.2.2, Culture=neutral, PublicKeyToken=c52ffed5d5ff0958" />
<!--		<Alias Name="WebAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WebAdapter, Version=14.2.2.2, Culture=neutral, PublicKeyToken=c52ffed5d5ff0958" />-->
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\ChartTester.Win\Bin\EasyTest" />
<!--		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\ChartTester.Web" />-->
	</Aliases>
</Options>
