<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Images" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Pdf.Core" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Printing.Core" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Utils" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.XAF.Extensions.Convert" version="18.2.300.2" targetFramework="net461" />
  <package id="DevExpress.XAF.Extensions.Enum" version="18.2.300.2" targetFramework="net461" />
  <package id="DevExpress.XAF.Extensions.Linq" version="18.2.300.2" targetFramework="net461" />
  <package id="DevExpress.XAF.Extensions.Model" version="18.2.300.2" targetFramework="net461" />
  <package id="DevExpress.XAF.Extensions.String" version="18.2.300.2" targetFramework="net461" />
  <package id="DevExpress.XAF.Modules.ModelViewIneritance" version="18.2.300.2" targetFramework="net461" />
  <package id="fasterflect" version="2.1.3" targetFramework="net40" />
  <package id="Fody" version="2.0.2" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.Build" version="15.9.20" targetFramework="net461" />
  <package id="Microsoft.Build.Framework" version="15.9.20" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net461" developmentDependency="true" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net40" />
  <package id="PropertyChanged.Fody" version="1.53.0" targetFramework="net40" developmentDependency="true" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.5.24" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>