<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Modules" value="" />
		<add key="NewVersionServer" value="" />
		<add key="EnableDiagnosticActions" value="True" />
    <add key="DisableDebuggerAttachedCheck" value="False" />
    <!--
		Use the one of predefined values: None, ApplicationFolder, ApplicationDataFolder. The default value is ApplicationFolder.
		<add key="TraceLogLocation" value="ApplicationDataFolder"/>
		<add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
		-->
	</appSettings>
	<connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=TOLISSS;Initial Catalog=Solution1;User Id=sa;Password=l@nd;" />
		<!--
		Use the following connection string to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=Solution1"/>
		-->
		<!--
		Use the following connection string to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=Solution1" />
		-->
		<!--
		Use the following connection string to connect to a Jet (Microsoft Access) database:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=Solution1.mdb;Mode=Share Deny None;"/>
		-->
	</connectionStrings>
	<system.diagnostics>
		<switches>
			<!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
			<add name="eXpressAppFramework" value="3" />
			<!--
			<add name="XPO" value="3" />
			-->
		</switches>
	</system.diagnostics>

    <system.web>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.2, Version=9.2.4.0, Culture=neutral, PublicKeyToken=c52ffed5d5ff0958" />
        </httpModules>
    </system.web>

    <system.webServer>
        <modules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v9.2, Version=9.2.4.0, Culture=neutral, PublicKeyToken=c52ffed5d5ff0958" />
        </modules>
    </system.webServer>
</configuration>
