<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="FeatureCenterWin"
			FileName="[WinAppBin]\FeatureCenter.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="FeatureCenterWeb"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/>
		<!-- For IIS -->
		<!--Application
			Name="[SolutionName]Web"
			Url="http://localhost/FeatureCenter.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"/-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(local)" DBName="FeatureCenterEasyTest" />
	</TestDatabases>

	<Aliases>
		<Alias Name="WinAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WinAdapter.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WebAdapterAssemblyName" Value="DevExpress.ExpressApp.EasyTest.WebAdapter.v11.2, Version=11.2.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WinAppBin" Value="C:\eXpandFrameWork\eXpand\FeatureCenter\FeatureCenter.Win\bin\EasyTest" />
		<Alias Name="WebAppBin" Value="C:\eXpandFrameWork\eXpand\FeatureCenter\FeatureCenter.Web" />
	</Aliases>
</Options>
