<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3"  DefaultTimeout="30">
	<Applications>
		<!-- Win -->
		<Application
			Name="[WinProjectName]"
			FileName="[WinAppBin]\[WinProjectName].exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="HtmlPropertyEditorTester.Web"
			Url="http://localhost:50010"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]" UseIISExpress="true" WebBrowserType="Stdandalone"/>
		<!-- For IIS -->
		<!--Application
			Name="HtmlPropertyEditorTester.Web"
			Url="http://localhost/HtmlPropertyEditorTester.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]" UseIISExpress="true" /-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="HtmlPropertyEditorTesterEasyTest"/>
	</TestDatabases>

	<Aliases>
		<Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
		<Alias Name="WinAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WinAdapter" />
		<Alias Name="WebAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WebAdapter" />
		<Alias Name="WinAppBin" Value="Write path to the application here." />
		<Alias Name="WebAppBin" Value="[ConfigPath]\..\..\HtmlPropertyEditorTester.Web" />
	</Aliases>
</Options>
