<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xpand.XAF.Modules.Reactive" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.4" newVersion="1.2.1.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>