<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="MasterDetailTester.Win"
			FileName="[WinAppBin]\MasterDetailTester.Win.exe"
			AdapterAssemblyName="[WinAdapterAssemblyName]"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="[WebProjectName]"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterAssemblyName="[WebAdapterAssemblyName]" UseIISExpress="true" />
		<!-- For IIS -->
		<!--Application
			Name="[WebProjectName]"
			Url="http://localhost/[WebProjectName]/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]" UseIISExpress="true" /-->
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server=".\SQLEXPRESS" DBName="MasterDetailTesterEasyTest" />
	</TestDatabases>

	<Aliases>
		<Alias Name="DomainUserName" Value="%USERDOMAIN%\%USERNAME%" />
		<Alias Name="WinAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WinAdapter, Version=13.2.8.5, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WebAdapterAssemblyName" Value="Xpand.ExpressApp.EasyTest.WebAdapter, Version=13.2.8.5, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
		<Alias Name="WinAppBin" Value="[ConfigPath]\..\..\MasterDetailTester.Win\Bin\EasyTest" />
		<Alias Name="WebAppBin" Value="Write path to the application here." />
	</Aliases>
</Options>
