<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.11.0" targetFramework="net40" />
  <package id="DevExpress.ExpressApp.FileAttachment.Win" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Data" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.TreeListEditors.Win" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp" version="18.2.3" targetFramework="net461" />
</packages>