<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.4.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.4.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net461" />
  <package id="System.Reactive" version="4.1.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="WindowsBase" version="4.6.1055.0" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.FileAttachment.Win" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Notifications" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Notifications.Win" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Validation.Win" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Win" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Xpo" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Printing.Core" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Data" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Persistent.Base" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Xpo" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Win" version="18.2.3" targetFramework="net461" />
</packages>