<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
  <Applications>
    <!-- Win -->
    <Application
			Name="SystemTester.Win"
			FileName="[WinAppBin]\SystemTester.Win.exe"
      AdapterFileName="[WinAdapterFileName]"
			CommunicationPort="4100" Parameter="CustomLogonParameters"/>
    <!-- Web -->
    <Application
			Name="SystemTester.Web"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
      AdapterFileName="[WebAdapterFileName]" Parameter="CustomLogonParameters"
/>
    <!-- For IIS -->
    <!--Application
			Name="[SolutionName]Web"
			Url="http://localhost/AdditionalCommands.Web/Default.aspx"
			 AdapterFileName="[WebAdapterFileName]"/-->
  </Applications>
  <TestDatabases>
    <Database xsi:type="TestDatabase" Type="Xpand.ExpressApp.EasyTest.MySQLDatabaseOperations" Server="localhost" DBName="SystemTesterEasyTest">
      <Login UserID="anonymous" Password=""/>
    </Database>
  </TestDatabases>
  <Aliases>
    <Alias Name="WinAdapterFileName" Value="[ConfigPath]\..\..\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WinAdapter.dll" />
    <Alias Name="WebAdapterFileName" Value="[ConfigPath]\..\..\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WebAdapter.dll" />
    <Alias Name="WinAppBin" Value="[ConfigPath]\..\..\..\SystemTester.Win\Bin\EasyTest" />
    <Alias Name="WebAppBin" Value="[ConfigPath]\..\..\..\SystemTester.Web" />
  </Aliases>
</Options>
