<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3"  DefaultTimeout="60">
  <Applications>
    <!-- Win -->
    <Application
			Name="SecurityDemo.Win"
			FileName="[WinAppBin]\SecurityDemo.Win.exe"
			AdapterFileName="[WinAdapterFileName]"
			CommunicationPort="4100"/>
    <Application
			Name="SecurityDemo.UiLevel.Win"
			FileName="[WinAppUiBin]\SecurityDemo.UiLevel.Win.exe"
			AdapterFileName="[WinAdapterFileName]"
			CommunicationPort="4100"/>
    <!-- Web -->
    <Application
			Name="SecurityDemo.Web"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppBin]"
			AdapterFileName="[WebAdapterFileName]" />
    <Application
			Name="SecurityDemo.UiLevel.Web"
			Url="http://localhost:4030"
			PhysicalPath="[WebAppUiBin]"
			AdapterFileName="[WebAdapterFileName]"  />
    <!-- For IIS -->
    <!--Application
			Name="SecurityDemo.Web"
			Url="http://localhost/SecurityDemo.Web/Default.aspx"
			AdapterAssemblyName="[WebAdapterAssemblyName]"  /-->
  </Applications>
  <TestDatabases>
    <Database xsi:type="TestMSSQLDatabase" Server="(localdb)\mssqllocaldb" DBName="XpandSecurityDemoEasyTest"/>
  </TestDatabases>

  <Aliases>
    <Alias Name="WinAdapterFileName" Value="[ConfigPath]\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WinAdapter.dll" />
    <Alias Name="WebAdapterFileName" Value="[ConfigPath]\..\..\..\..\Xpand.dll\Xpand.ExpressApp.EasyTest.WebAdapter.dll" />
    <Alias Name="WinAppUiBin" Value="[ConfigPath]\..\..\..\SecurityDemo.UiLevel.Win\Bin\EasyTest" />
    <Alias Name="WinAppBin" Value="[ConfigPath]\..\..\..\SecurityDemo.Win\Bin\EasyTest" />
    <Alias Name="WebAppBin" Value="[ConfigPath]\..\..\..\SecurityDemo.Web" />
    <Alias Name="WebAppUiBin" Value="[ConfigPath]\..\..\..\SecurityDemo.UiLevel.Web" />
  </Aliases>
</Options>
