<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>eXpand Framework</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18386475-1']);
  _gaq.push(['_setDomainName', '.expandframework.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>	
</head>
<body>
<h1>eXpand Framework</h1>
<p><em>Development build ${Version}</em></p>

<h2>eXpand Framework</h2>
<ul>
<li><a href="${BinaryPackage}" onclick="pageTracker._trackPageview('${BinaryPackage}')">Download binaries</a> (DLL, PDB, XML).</li>
<li><a href="${SourcePackage}" onclick="pageTracker._trackPageview('${SourcePackage}')">Download sources</a> (C#, VS2008&VS2010 solution).<br/><sub><em>To recompile scripts you need to have installed .Net4 (VS2008 OR VS2010). Edit defines.bat to set your VS version, default is VS2010</sub></em></li>
<li><a href="eXpandFramework-${Version}.exe" onclick="pageTracker._trackPageview('eXpandFramework-${Version}.exe')">Download installer</a> (eXpandFramework-${Version}.exe).</li>
</ul>

Tip: To update Xpand version if you are using the binaries just override the old ones. For this to work you need to set the Specific Version attribute to false for all Xpand Assemblies.
<p><sub><em>Build ${Version} released on ${BuildTime}.</em></sub></p>
<p> The most recent release is available at our <a href="http://teamcity.expandframework.com">build server </a></p>

<p>&copy;2010 eXpand. All rights reserved</p>
</body>
</html>