<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--
		<add key="Modules" value="
DevExpress.ExpressApp.v19.1;
DevExpress.ExpressApp.Objects.v19.1;
DevExpress.ExpressApp.Win.v19.1;
DevExpress.ExpressApp.Scheduler.Win.v19.1;
DevExpress.ExpressApp.Validation.v19.1;
DevExpress.ExpressApp.Validation.Win.v19.1;
DevExpress.ExpressApp.FileAttachment.Win.v19.1;
DevExpress.ExpressApp.Scheduler.Win.v19.1;
DevExpress.ExpressApp.AuditTrail.v19.1;
DevExpress.ExpressApp.Security.v19.1;
MainDemo.Module;
MainDemo.Module.Win" />
		-->
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="Languages" value="de;es;ja;ru" />
    <add key="EasyTestCommunicationPort" value="15924" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="True" />
  </appSettings>
  <connectionStrings>
    <add name="SqlExpressConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=MainDemo_v17.2" />
    <!--
		Use the following connection string to connect to a database on the Microsoft SQLExpress Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=MainDemo_v17.2"/>
		-->
    <!--
		Use the following ConnectionString to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(local);Initial Catalog=MainDemo_v17.2" />
		-->
    <!--
		Use the following ConnectionString to connect to a Jet (Microsoft Access) database:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=MainDemo.mdb;Mode=Share Deny None;" />
		-->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use one of the following predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="4" />
      <!--
			<add name="XPO" value="3" />
			-->
    </switches>
  </system.diagnostics>
</configuration>
