<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.ExpressApp.Notifications" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Notifications.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Security.Xpo" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Xpo" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.BonusSkins" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Charts.Core" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.ConditionalAppearance" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Printing.Core" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Data" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.AuditTrail" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.FileAttachment.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.HtmlPropertyEditor.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Images" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Objects" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.PivotChart" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.PivotChart.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.ReportsV2" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.ReportsV2.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Scheduler" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Scheduler.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.ScriptRecorder" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.ScriptRecorder.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Security" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Validation" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Validation.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.ViewVariantsModule" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.ExpressApp.Win" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Office.Core" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Persistent.Base" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Persistent.BaseImpl" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Export" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Utils" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Xpo" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Charts" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.Charts" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.PivotGrid.Core" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Sparkline.Core" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.CodeParser" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Utils.UI" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Reporting.Core" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.Reporting" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Core" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.RichEdit" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.SchedulerReporting" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Win.Scheduler" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Scheduler.Core" version="18.2.4" targetFramework="net461" />
  <package id="DevExpress.Win" version="18.2.4" targetFramework="net461" />
</packages>